body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  background-color: #8282f3;
}

:root .madhu > h1{
  padding: 16px;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */